# Минимальные версии основных пакетов, необходимых для работы проекта:

aiogram==3.0.0b7       # Используется для написания Telegram-бота (Bot, Dispatcher, Router и т.д.)
aiohttp==3.8.3         # Асинхронные HTTP-запросы, используется внутри aiogram и напрямую в проекте
python-dotenv==0.21.1  # Для загрузки переменных окружения из .env
transformers==4.30.2   # Для моделей и пайплайнов (Hugging Face)
torch==2.0.1           # Для работы моделей на GPU/CPU в связке с transformers

